* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  .prompt-extralight {
    font-family: "Prompt", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  body {
    font-family: "Promt", sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color: #f0f0f0;
  }

nav {
    background-color: #333;
    padding: 1%;
    display: flex;}

.logo a {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    padding: 10px;
}


.menu {
    display: flex;
}
.menu li {
    margin: 0 1rem;
    list-style: none;
    align-items: center;
}
.menu li a {
    text-decoration: none;
    color: #fff;
}
section {
    padding: 1rem 1rem ;
}

section h3 {
    margin: 1rem 0;
}

section img {
    width: 100%;
    margin: 1rem 0;
    border-radius: 20px;
}
section a {
    background-color: orange;
    border-radius: 5px;
    padding: 0.5rem ;
    text-decoration: none;

}
selection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 1rem;
}
selection img {
    width: 100%;
    border-radius: 20px;
    margin: 1rem 0;
}
selection h3 {
    margin: 1rem 0;
}
selection a {
    background-color: orange;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5rem;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}
